$darkmode: true;
$primary: #e5b4ff;
$onPrimary: #481867;
$primaryContainer: #60327f;
$onPrimaryContainer: #f5d9ff;
$secondary: #d2c1d8;
$onSecondary: #382c3f;
$secondaryContainer: #4f4256;
$onSecondaryContainer: #efdcf5;
$tertiary: #f4b7b9;
$onTertiary: #4b2527;
$tertiaryContainer: #663b3d;
$onTertiaryContainer: #ffdadb;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #111012;
$background: #111012;
$onBackground: #e7e0e5;
$surface: #1d1b1e;
$onSurface: #e7e0e5;
$surfaceVariant: #4b454d;
$onSurfaceVariant: #cdc3ce;
$outline: #978e98;
$shadow: #000000;
$inverseSurface: #e7e0e5;
$inverseOnSurface: #322f33;
$inversePrimary: #794a99;
